@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.button-red{
    @apply inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-neutral-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800
}
.btn-teal {
    @apply inline-flex items-center px-2 py-2 text-sm font-medium text-center text-white bg-teal-700 rounded-lg hover:bg-teal-800 focus:ring-4 focus:outline-none focus:ring-neutral-300 dark:bg-teal-600 dark:hover:bg-teal-700 dark:focus:ring-teal-800 gap-x-1;
}
.btn-red{
    @apply inline-flex items-center px-2 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-neutral-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800 gap-x-1
}
.btn-green{
    @apply inline-flex items-center px-2 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-neutral-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 gap-x-1
}
.btn-edit{
    @apply inline-flex items-center px-2 py-2 text-sm font-medium text-center text-white bg-cyan-700 rounded-lg hover:bg-cyan-800 focus:ring-4 focus:outline-none focus:ring-neutral-300 dark:bg-cyan-600 dark:hover:bg-cyan-700 dark:focus:ring-cyan-800 gap-x-1
}
.btn-create{
    @apply inline-flex items-center px-2 py-2 text-sm font-medium text-center text-white bg-teal-500 rounded-lg hover:bg-teal-600 focus:ring-4 focus:outline-none focus:ring-neutral-300 dark:bg-teal-600 dark:hover:bg-teal-600 dark:focus:ring-teal-600 gap-x-1
}
.btn-view{
    @apply inline-flex items-center px-2 py-2 text-sm font-medium text-center text-white bg-teal-500 rounded-lg hover:bg-teal-600 focus:ring-4 focus:outline-none focus:ring-neutral-300 dark:bg-teal-600 dark:hover:bg-teal-600 dark:focus:ring-teal-600 gap-x-1
}

.btn-import{
    @apply inline-flex items-center px-2 py-2 text-sm font-medium text-center text-white bg-lime-700 rounded-lg hover:bg-lime-800 focus:ring-4 focus:outline-none focus:ring-neutral-300 dark:bg-lime-600 dark:hover:bg-lime-700 dark:focus:ring-lime-800 gap-x-1
}
.btn-export{
    @apply inline-flex items-center px-2 py-2 text-sm font-medium text-center text-white bg-yellow-700 rounded-lg hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-neutral-300 dark:bg-yellow-600 dark:hover:bg-yellow-700 dark:focus:ring-yellow-800 gap-x-1
}

.inputLabel{
    @apply inline-block text-sm  font-medium text-gray-800 dark:text-neutral-200
}

.inputField{
    @apply block w-full  px-4 py-3 text-sm border border-gray-200 rounded-lg bg-neutral-100 dark:bg-neutral-700 focus:border-red-500 focus:ring-red-500 disabled:opacity-50 disabled:pointer-events-none dark:border-neutral-700 dark:text-neutral-300 dark:placeholder-neutral-500 dark:focus:ring-neutral-600
}
.error_msg{
    @apply text-red-600 text-xs
}


/* width */
::-webkit-scrollbar {
    width: 7px !important;
}

/* height */
::-webkit-scrollbar {
    height: 7px !important;
}
/* Track */
::-webkit-scrollbar-track {
    background: #d8dadd00 !important;
    border-radius: 0px !important;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ff0e56 !important;
    border-radius: 0px !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #ca0000 !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

